[Unit]
Description=Laserharp Application
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/laserharp
ExecStart=/home/pi/laserharp/.venv/bin/python3 -m gunicorn --bind 127.0.0.1:5000 --threads 5 -w 1 laserharp.server.app:app
TimeoutStopSec=2

[Install]
WantedBy=multi-user.target
